.Badges-title {
  color: white;
}

.Badge__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 580px;
}

.Badges__list {
  width: 100%;
  max-width: 580px;
}

.Badges_conf-logo {
  margin-bottom: 2rem;
}

.Badges__buttons {
  align-self: flex-end;
  margin-bottom: 1rem;
}
