.BadgeHero h1{
  display: flex;
  justify-content: center;
  color: white;
}

.BadgeDetails__hero-attendant-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons-container {
  max-width: 300px;
  margin: 0;
}

.BadgeDetails__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
