.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-image: linear-gradient(
    to right bottom,
    #370091,
    #5202a6,
    #6d03ba,
    #8904ce,
    #a504e2
  );
  color: white;
}
