.Badges__hero {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #370091,
    #5202a6,
    #6d03ba,
    #8904ce,
    #a504e2,
    #a504e2,
    #a504e2,
    #a504e2,
    #8904ce,
    #6d03ba,
    #5202a6,
    #370091
  );
  margin-bottom: 1rem;
  height: 163px;
}

.Badges__hero > .Badges__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Badges__hero > .Badges__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #f4f4f7, #ffffff00 30%, transparent);
}
